{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row center">
    <div class="col-md-6 offset-md-3" style="background-color: rgba(255, 255, 255, 0.9);">
      <h2>Create new poll</h2>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
          {{ field.errors }} {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %} 
        <div class="appending_div">
        </div>
        Give Choices:
        <span class="fa fa-plus add" style="cursor: pointer"></span><br><br>
        <button type="submit" class="btn btn-primary">Add Poll</button>
        <a class="btn btn-warning" href="{% url 'polls:list' %}" role="button">
            Back
        </a>
      </form>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    var i = 1;
    $(".add").on("click", function () {
      var field =
        "<div>Choice " +
        i +
        ': <input type="text" name="options" style="width: 100%;margin-bottom:1.2vw">';
      $(".appending_div").append(field);
      i = i + 1;
    });
  });
</script>
{% endblock %}
