{% extends 'base.html' %}
{% block custom_css %} 
<style>
    body{
        background-image: url('https://www.vevox.com/getmedia/00b2a9e0-8835-418a-b6da-3c0d88b52cf8/Conferences-Events-Header-01.jpg');
        background-size: cover;
    }
</style>
{% endblock custom_css %}
{% block content %}
<div class="container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 offset-sm-2" style="padding-bottom: 1vw;background-color: rgba(255, 255, 255, 0.9);">
            <h1 class="text-center mt-3 mb-3">Welcome to PollSite!</h1>
            <a class="btn btn-danger mb-3" href="{% url 'polls:add' %}" role="button">Add <i class="fas fa-plus"></i></a>
            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <a href="{% url 'polls:detail' poll.id %}">
                        {{ poll.question_body|truncatewords:10 }}
                    </a>
                    {% if request.user == poll.creator %}
                    <a href="{% url 'polls:result' poll.id %}" data-toggle="tooltip" data-placement="top" title="Poll Result">
                        <i class="fas fa-poll float-right btn btn-danger btn-sm">
                        </i>
                    </a>
                    <a href="{% url 'polls:edit' poll.id %}" class="mr-3" data-toggle="tooltip" data-placement="top" title="Edit Poll">
                        <i class="fas fa-pencil-alt float-right btn btn-primary btn-sm mr-1">
                        </i>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}